blinker
click
crypto
dnspython
email_validator
flask
Flask-Cors
Flask-Login
Flask-Mail
Flask-Session
Flask-SQLAlchemy
Flask-WTF
itsdangerous==0.24
Jinja2
pillow
pycparser
six
pycryptodome
requests
SQLAlchemy
Werkzeug
WTForms
