
{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img mb-1" src="{{ image_file }}" >
            <div class="media-body">
                <h2 class="account-heading text-black mb-1">{{ current_user.first_name }} </h2>
                <p class="text-secondary text-black mb-1">{{ current_user.email }}</p>
               
            </div>    
        </div>
        
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom ">Account Info</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
    
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div >
                        {{ form.email.label(class="form-control-label") }}
                        
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.old_password.label(class="form-control-label") }}

                        {% if form.old_password.errors %}
                            {{ form.old_password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.old_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.old_password(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.new_password.label(class="form-control-label") }}

                        {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.new_password(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_new_password.label(class="form-control-label") }}

                        {% if form.confirm_new_password.errors %}
                            {{ form.confirm_new_password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_new_password(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.public_key.label(class="form-control-label") }}
                        
                        {% if form.public_key.errors %}
                            {{ form.public_key(class="form-control form-control-sm is-invalid", readonly=True) }}
                            <div class="invalid-feedback">
                                {% for error in form.public_key.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.public_key(class="form-control form-control-sm", readonly=True) }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.private_key.label(class="form-control-label") }}
                        {% if form.private_key.errors %}
                            {{ form.private_key(class="form-control form-control-sm is-invalid", readonly=True) }}
                        {% else %}
                            {{ form.private_key(class="form-control form-control-sm", readonly=True) }}
                        {% endif %}
                        <div class="invalid-feedback">
                            {% for error in form.private_key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label(type="file") }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        


{% endblock content %}