<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/nRRH0dn/Screenshot-24-removebg-preview.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Blockchain</title>
</head>
<body class="vh-100 overflow-hidden">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
          <div class="container">
          <!-- Logo -->
            <a href="{{ url_for('client_index') }}" class="navbar-brand">
            <img src="https://i.ibb.co/ygHh5K3/logo3.png" alt="HTML tutorial">
            </a>
            <!-- toggle Btn -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- side Bar -->
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <!-- sidebar Header -->
              <div class="offcanvas-header text-white border-bottom">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Blockchain</h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <!-- sidebar body -->
              <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                  <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('client_index') }}">Home</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('server') }}">Mine</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('make_transaction') }}">Make Transaction</a>
                  </li><li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('view_transactions') }}">View Transaction</a>
                  </li><li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                  </li>
                </ul>
                <!-- Join Us -->
                <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('logout') }}" class="text-white text-decoration-none px-3 py-1 rounded-4" style="background-color: #f94ca4" >Logout</a>
                  {% else %}
                   <a href="{{ url_for('login') }}" class="text-white text-decoration-none px-3 py-1 rounded-4" style="background-color: #f94ca4" >Join Us</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </nav>

    <main>
     <section class="d-flex flex-column justify-content-center align-items-center text-white fs-1">
       <img src="https://i.ibb.co/n3Vhyw4/Screenshot-23.png" >

     </section>

    </main>


  </body>
</html>
